.navbar {
    background-color: #40E0D0 !important;
}

form {
    margin-top: 1em;
}

body {
    background-color: #FFFACD;
}

.home {
    margin-right: 2em !important;
}

.lang-button {
    background-color: #F0E68C;
}

.lang-button:hover {
    background-color: #FFDAB9;
}

.container {
    max-width: 750px !important;
    margin: 0 auto;
}

.header-container {
    margin: 0 auto;
}
