
body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}

footer {
    margin-top: 1rem;
    text-align: center;
}

.card-body {
    background-color: #AFEEEE !important;
    margin-left: 2em;
}

.vacancy, .filter {
    margin: 1em auto 1em 2em;
    text-align: center;
}

.requiredField {
    color: red;
}

.lang{
    max-width: 5%;
    margin-bottom: 0.5em;
}

.vacancy-error {
    font-size: 18px;
    margin-top: 1.5em;
}

.resume-list-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.center {
    padding-left: 0;
    padding-right: 0;
}

.password {
    margin: 15px auto;
    position: relative;
}

.password-control {
    position: absolute;
    top: 40px;
    right: 6px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}
.password-control.view {
    background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}


