/*.container {*/
/*    max-width: 750px !important;*/
/*}*/

.card-body {
    background-color: #AFEEEE !important;
    margin-left: 2em;
}

.vacancy {
    margin: 1em auto 1em 2em;
    text-align: center;
}

.requiredField {
    color: red;
}

.lang{
    max-width: 5%;
    margin-bottom: 0.5em;
}

.vacancy-error {
    font-size: 18px;
    margin-top: 1.5em;
}


