@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
body {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-style: normal;
}

.img {
    max-width: 100%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

li {
    list-style: none;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 13px;
    font-family: "Roboto", sans-serif;
}

h3 {
    font-size: 24px;
}

ul {
    padding-left:0;
}

.job_searcing_wrap {
    position: relative;
    z-index: 0;
    padding: 116px 0;
}

.job_searcing_wrap::after {
    background-image: url(../img/job/1.png);
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    left: 0;
    top: 0;
    content: '';
    position: absolute;
}

@media (max-width: 767px) {
    .job_searcing_wrap::after {
        height: 50%;
        top: 0;
        left: 0;
        width: 100%;
    }
}

/* line 45, ../../Arafath/CL/December/235. Job board/HTML/scss/_job.scss */
.job_searcing_wrap .searching_text {
    position: relative;
    z-index: 8;
}

@media (max-width: 767px) {
    /* line 45, ../../Arafath/CL/December/235. Job board/HTML/scss/_job.scss */
    .job_searcing_wrap .searching_text {
        margin: 30px 0;
    }
}

/* line 51, ../../Arafath/CL/December/235. Job board/HTML/scss/_job.scss */
.job_searcing_wrap .searching_text h3 {
    font-size: 38px;
    font-weight: 400;
    color: #FFFFFF;
}

.col-lg-8, .job_sumary {
    background-color: #AFEEEE ;
}

.job_details_area {
    padding-top: 20px;
    padding-bottom: 200px;
    background-color: #FFFACD;
}

.job_details_area .single_jobs {
    padding: 25px;
    border-bottom: 1px solid #EAEAEA;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

@media (max-width: 767px) {
    .job_details_area .single_jobs {
        display: block !important;
    }
}

@media (max-width: 767px) {
    .job_details_area .single_jobs .jobs_left {
        display: block !important;
        overflow: hidden;
    }
}


@media (max-width: 767px) {
    .job_details_area .single_jobs .jobs_left .jobs_conetent h4 {
        margin-top: 15px;
    }
}


@media (max-width: 767px) {
    /* line 46, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
    .job_details_area .single_jobs .jobs_left .jobs_conetent .links_locat {
        display: block !important;
    }
}

/* line 50, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
.job_details_area .single_jobs .jobs_left .jobs_conetent .links_locat .location {
    margin-right: 50px;
}

@media (max-width: 767px) {
    /* line 50, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
    .job_details_area .single_jobs .jobs_left .jobs_conetent .links_locat .location {
        margin-right: 10px;
    }
}

/* line 55, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
.job_details_area .single_jobs .jobs_left .jobs_conetent .links_locat .location p {
    margin-bottom: 0;
    font-size: 16px;
}

/* line 59, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
.job_details_area .single_jobs .jobs_left .jobs_conetent .links_locat .location p i {
    margin-right: 7px;
}

@media (max-width: 767px) {
    /* line 68, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
    .job_details_area .single_jobs .jobs_right .apply_now {
        margin: 10px 0;
    }
}

.apply_now form button {
    background-color: #F0E68C;
    color: black;
}

/* line 73, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
.job_details_area .single_jobs .jobs_right .apply_now a.heart_mark {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #00D363;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    background: #EFFDF5;
}

.job_details_area .single_jobs .jobs_right .apply_now a.boxed-btn3 {
    padding: 9px 27px 9px 27px;
    font-size: 14px;
}

.job_details_area .single_jobs .jobs_right .date {
    text-align: right;
    margin-top: 10px;
}

@media (max-width: 767px) {

    .job_details_area .single_jobs .jobs_right .date {
        text-align: left;
    }
}

.job_details_area .descript_wrap {
    padding: 25px;
}

.job_details_area .descript_wrap .single_wrap {
    margin-bottom: 30px;
}

.job_details_area .descript_wrap .single_wrap:last-child {
    margin-bottom: 0;
}

.job_details_area .descript_wrap .single_wrap h4 {
    font-size: 20px;
    font-weight: 500;
    color: #001D38;
    margin-bottom: 25px;
}


.job_details_area .descript_wrap .single_wrap p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}

.job_details_area .descript_wrap .single_wrap ul li {
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    position: relative;
    padding-left: 25px;
}

/* line 137, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
.job_details_area .descript_wrap .single_wrap ul li::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 7px;
    height: 7px;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    top: 12px;
}

/* line 152, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
.job_details_area .apply_job_form {
    margin-top: 30px;
    padding: 40px;
}

@media (max-width: 767px) {
    .job_details_area .apply_job_form {
        padding: 30px;
    }
}

/* line 158, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
.job_details_area .apply_job_form h4 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}

/* line 164, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
.job_details_area .apply_job_form .input_field input, .job_details_area .apply_job_form .input_field textarea {
    height: 60px;
    border: 1px solid #E8E8E8;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.job_details_area .apply_job_form .input_field input::placeholder, .job_details_area .apply_job_form .input_field textarea::placeholder {
    font-size: 16px;
}

.job_details_area .apply_job_form .input_field input:focus, .job_details_area .apply_job_form .input_field textarea:focus {
    outline: none;
}

.job_details_area .apply_job_form .input_field textarea {
    height: 188px;
    padding: 20px;
}

/* line 184, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
.job_details_area .apply_job_form .input_field.file_up input {
    position: relative;
}

/* line 186, ../../Arafath/CL/December/235. Job board/HTML/scss/_job_details.scss */
.job_details_area .apply_job_form .input_field.file_up input:before {
    position: absolute;
    left: 0;
    top: 0;
    content: 'Upload CV';
}

.job_details_area .apply_job_form .input-group {
    width: 100%;
    height: 60px;
    border-radius: 5px !important;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.job_details_area .apply_job_form .input-group .custom-file {
    margin-bottom: 0;
    height: 60px;
    border: none;
}

.job_details_area .apply_job_form .input-group .custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    padding: 0;
    line-height: 60px;
    background-color: transparent;
    border-radius: 0;
    border: none;
}

.job_details_area .apply_job_form .input-group .custom-file-input {
    height: 100%;
}

@media (max-width: 767px) {
    .job_details_area .job_sumary {
        margin-top: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .job_details_area .job_sumary {
        margin-top: 30px;
    }
}

.job_details_area .job_sumary .summery_header {
    border-bottom: 1px solid #EAEAEA;
    padding: 20px;
}

@media (max-width: 767px) {
    .job_details_area .job_sumary .summery_header {
        padding: 30px;
    }
}

.job_details_area .job_sumary .summery_header h3 {
    font-size: 24px;
    color: #001D38;
    font-weight: 400;
}

.job_details_area .job_sumary .job_content {
    padding: 20px;
}

@media (max-width: 767px) {
    .job_details_area .job_sumary .job_content {
        padding: 30px;
    }
}

.job_details_area .job_sumary .job_content ul li {
    font-size: 16px;
    font-weight: 400;
    line-height: 38px;
    padding-left: 18px;
    position: relative;
}

.job_details_area .job_sumary .job_content ul li::before {
    position: absolute;
    width: 8px;
    height: 8px;
    border: 1px solid #AAB1B7;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    left: 0;
    content: '';
    top: 16px;
}

.job_details_area .job_sumary .job_content ul li span {
    color: #001D38;
}

.job_details_area .share_wrap {
    background: #fff;
    margin: 30px 0;
    padding: 20px;
}

.fa-clock-o:before {
    content: "\f017";
}

.fa-map-marker:before {
    content: "\f041";
}